# Example Environment Variables for Arma Reforger Server

# Server Configuration
#ARMA_CONFIG=static_config.json
SERVER_BIND_ADDRESS=0.0.0.0
SERVER_BIND_PORT=2001
SERVER_PUBLIC_ADDRESS=your.public.ip
SERVER_PUBLIC_PORT=2001
SERVER_A2S_ADDRESS=0.0.0.0
SERVER_A2S_PORT=17777

# RCON Configuration
RCON_ADDRESS=0.0.0.0
RCON_PORT=19999
RCON_PASSWORD=ChangeMeNow!123
RCON_PERMISSION=admin

# Game Configuration
GAME_NAME=My Custom Reforger Server
GAME_PASSWORD=
GAME_PASSWORD_ADMIN=
GAME_ADMINS=["12345678-90ab-cdef-1234-567890abcdef","12585678-90ab-cdef-1234-567890abcdfg"]
GAME_SCENARIO_ID={ECC61978EDCC2B5A}Missions/23_Campaign.conf
GAME_MAX_PLAYERS=32
GAME_VISIBLE=true
GAME_SUPPORTED_PLATFORMS=PLATFORM_PC,PLATFORM_XBL,PLATFORM_PSN

# Game Properties
GAME_PROPS_BATTLEYE=true
GAME_PROPS_DISABLE_THIRD_PERSON=false
GAME_PROPS_FAST_VALIDATION=true
GAME_PROPS_SERVER_MAX_VIEW_DISTANCE=2500
GAME_PROPS_SERVER_MIN_GRASS_DISTANCE=50
GAME_PROPS_NETWORK_VIEW_DISTANCE=1000

# Mods Configuration
GAME_MODS_IDS_LIST=656CB5B501F13095,5AAAC70D754245DD
# Or
#GAME_MODS_JSON_FILE_PATH=

# Installation Configuration
SKIP_INSTALL=false
